name: Mise à jour GeoJSON

on:
  schedule:
    - cron: "0 6,18 * * *"  # deux fois par jour
  workflow_dispatch:

jobs:
  fetch-and-save:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Installer dépendances
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas beautifulsoup4


      - name: Exécuter le script
        run: python3 data_air_quality.py

      - name: Lister les fichiers
        run: ls -l

      - name: Commit & push air.geojson
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add air.geojson
          git commit -m "Mise à jour GeoJSON automatique" || echo "Rien à committer"
          git push

